
@{
    ViewBag.Title = "dashboard";
}
<link href="~/Content/all.min.css" rel="stylesheet" />
<style>
    body {
        color: white;
        font-family: "ITC Avant Garde Gothic Std";
    }
    body::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }
    .navbar1 {
       background-color:transparent;
    }

    .dashboard-container {
        display: flex;
        flex-direction: column;
        gap:0px;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .navbar1 {
        display: flex;
        position: absolute;
        top: 2%;
        justify-content: space-between;
        width: 100%;
        z-index: 3;

    }

    .navbar1-right {
        display: flex;
        gap: 10px;
        color: white;
    }

    .first-content {
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    footer {
        display: none;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    .first-content-background {
        width: 100%;
        height: 100%;
    }

    video {
        max-height: 75vh;
        width: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
        filter: blur(1px);
    }

    .overlapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background-color: rgba(255, 102, 0, 0.5);
        z-index: 2;
        opacity: 0.9;
     
    }
    .first-content-elements {
        position: absolute;
        z-index:3;
    }
    .first-content-elements-main{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:7px;
    }
    .first-content-elements-main p{
        color:white;

    }
    .fce-button {
        width: 50%;
        background-color: tomato;
        border-radius: 30px 30px 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
        .fce-button:hover {
            cursor: pointer;
            transform: translate(7px, -7px);
            transition: all ease-in-out 0.4s;
        }
    .fce-button p{
        font-size:22px;
       margin:0;

    }
    .second-content {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: rgba(255, 102, 0, 0.7);
        background-color: #FFFFFF;
        gap:15px;
    }
    .second-content-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        text-align: center;
       
        background: rgba(255, 255, 255, 1);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14.7px);
        -webkit-backdrop-filter: blur(14.7px);
        border: 1px solid rgba(255, 255, 255, 0.11);
        padding:0 5px;
    }
        .second-content-card img {
            width: 60%;
            height: 55%;
            border-radius: 50%;
            box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
        }
    .container {
        background-color: none !important;
    }
</style>


    <div class="dashboard-container">
        @*<div class="navbar1">
            <div class="navbar1-left">
                <img />
                <a href="/">Logo Here</a>

            </div>
            <div class="navbar1-right">

                <div><a href="/">ABOUT</a></div>
                <div>|</div>
                <div>
                    <a href="/">HELP</a>
                </div>
                <div>|</div>

                <div>
                    <a href="/">SIGN IN</a>
                </div>
                <div>|</div>

                <div>
                    <a href="/">SIGN UP</a>
                </div>



            </div>

        </div>*@
        <div class="first-content">
            <div class="overlapper"></div>
            <div class="first-content-background">

                <video  muted loop autoplay >

                    <source src="~/Videos/a.mp4" type="video/mp4">

                </video>
            </div>
            <div class="first-content-elements">

            <div class="first-content-elements-main">
                <h1>PARKING JUST GOT A LOT SIMPLER</h1>
                <h2> Where parking meets convenience </h2>
                <div class="fce-button" style="gap:7%"  onclick="booking()">
           
                        <i class="fa fa-location-arrow" style="font-size:28px"></i>
                        <p>Book Parking Now</p>
                </div>
                <h2>A Spot For Everyone</h2>
            </div>

            </div>


        </div>
        <div class="second-content">
            <h1> How AadimPark Works </h1>
            <div style="display:flex;justify-content:space-between; background-color:transparent;width:75%">
                <div class="second-content-card">
                    
                   <img src="~/Images/pexels-pixabay-38271.jpg"/>
                    <h2>Look</h2>
                    <p>Search and compare prices at hundreds of parking facilities across Nepal</p>
                </div>
                <div class="second-content-card">
                   <img src="~/Images/R.jpg"/>
                    <h2>Book</h2>
                    <p>Pay securely through online facility or cash on delivery</p>

                </div>
                <div class="second-content-card">
                   <img src="~/Images/R (1).jpg"/>
                    
                    <h2>Park</h2>
                    <p>Arrive at your area and park at the spot  </p>

                </div>

            </div>

        </div>





    </div>
    <script>
        function booking() {
            window.location.href = "/Booking/Booking";

        }
    </script>

   


